*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.center {
    align-content: center;
}
.container{
    max-width: 1100px;
    margin: 0px auto;
}
.container-title {
    float: inline-start;
}
.float {
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    padding: 0px 10px 35px 10px;
}
fieldset {
    border: 0px; 
    outline: 0px;
    font-size: large;
}
.countdown-size {
    width: 120px;
    height: 80px;
}